.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-container {
        height: 100%;
        width: 70px;
        padding: 25px;
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .active {
            background-color: gold;
            border-radius: 5%;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            font-size: 19px;
        }

        .option {
            padding: 10px 15px;
            cursor: pointer;

            &:hover {
                border-top: gold solid 2px;
            }

            &:focus {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}
